.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 2em;
}

.experience-box, .skills-box, .projects-box {
  background-color: #ffe6f0;
  padding: 20px;
  border-radius: 10px;
}

.experience-box, .skills-box, .projects-box h2 {
  font-size: 1.2em;
  color: #000000;
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
  }
}
